@(videoInfo: MultimediaInfo, vName : String)

@import com.kyrioslab.jffmpegw.attributes.parser.MultimediaInfo;

<fieldset name="common" class="config_block">
    <legend>Common</legend>
    <ul>
        <li>
            <div class="form-group form-group-float">
                <div class="input_large">
                    <label for="oformat">Output format:</label>
                    <select id="oformat" name="oformat" class="form-control">
                        @for(f <- videoInfo.getFullSupportedFormats) {
                            <option>
                            @f.getName
                            </option>
                        }
                    </select>
                </div>
            </div>
        </li>
        <li>
        @forms.config.config_input_item("Duration:", "duration",
            videoInfo.getFormat.getDuration, "text", "input_large")
        </li>
        <li>
        @forms.config.config_input_item("Name:", "vname",
            vName, "text", "input_large")
        </li>
        <li>
        @forms.config.config_input_item("Format:", "input_format",
            videoInfo.getFormat.getFormatName, "text", "input_large")
        </li>
    </ul>
</fieldset>