@(vPath: String, videoInfo: com.kyrioslab.jffmpegw.attributes.parser.MultimediaInfo, vName : String,
        templates : List[views.formdata.ConfigTemplate])

<form id="video_conf" class="video_conf">

    <div id="exceptions" class="alert alert-danger" hidden></div>

    @*Generate form*@
    @for(stream <- videoInfo.getStreams) {
        @stream.getCodecType match {
            case "video" => {
                @forms.config.video_fieldset(stream, videoInfo)
            }
            case "audio" => {
                @forms.config.audio_fieldset(stream, videoInfo)
            }
            case _ => {}
        }
    }
    @forms.config.common_fieldset(videoInfo, vName, templates)
    <div class="submit_configs">
        <progress id="progressBar" value="0" max="100" hidden></progress>
        <a id="encodeButton" href="#" class="arrow_button" onclick="sendJobW ( )">Encode</a>
    </div>
</form>



<script src="@routes.Assets.at("javascripts/jobsender.js")" type="application/javascript"></script>

<script type="application/javascript">
    var socket = new WebSocket("@routes.Application.encodeProcessSocket().webSocketURL(false)");
    manageSocket (socket) ;
    function sendJobW ( ) {
        sendJob (socket,"@vPath");
    }



</script>