@(stream: _root_.com.kyrioslab.jffmpegw.attributes.parser.StreamInfo,
        videoInfo: _root_.com.kyrioslab.jffmpegw.attributes.parser.MultimediaInfo)

<fieldset name="stream" class="config_block">
    <legend>Video</legend>
    <label for="index#@stream.getIndex">stream #@stream.getIndex</label>
    <input hidden class="input_small" id="index#@stream.getIndex" name="index" type="text" value="@stream.getIndex">
    <ul>
        <li>
            <input hidden name="codec_type" value="@stream.getCodecType">
            <div class="form-group form-group-float">
                <div class="input_medium">
                    <label for="vcodec">Codec</label>
                    <select id="vcodec" name="codec_name" class="form-control">
                        <option selected>
                        @stream.getCodecName
                        </option>
                        @for(codec <- videoInfo.getFullSupportedVideoCodecs) {
                            <option>
                            @codec.getName
                            </option>
                        }
                    </select>
                </div>
            </div>
        </li>
        <li>
        @forms.config.config_input_item("Bit rate (bit/s)", "bit_rate",
            stream.getBitRate, "text", "input_medium")
        </li>
        <li>
            <div class="form-group form-group-float">
                <div class="input_medium">
                    <label for="pix_fmt">Pixel format:</label>
                    <select id="pix_fmt" name="pix_fmt" class="form-control">
                        <option selected>
                        @stream.getPixFmt
                        </option>
                        @for(f <- videoInfo.getFullSupportedPixFormats) {
                            <option>
                            @f.getName
                            </option>
                        }
                    </select>
                </div>
            </div>
        </li>
        <li>
            <div style="clear: left">
                @forms.config.config_input_item("Width:", "width",
                    stream.getWidth, "text", "input_small")
                @forms.config.config_input_item("Height:", "height",
                    stream.getHeight, "text", "input_small")
            </div>
        </li>
        <li>
        @forms.config.config_input_item("Aspect:", "display_aspect_ratio",
            stream.getDisplayAspectRatio, "text", "input_small")
        </li>
        <li>
        @forms.config.config_input_item("Frame rt:", "avg_frame_rate",
            stream.getAvgFrameRate, "text", "input_small")
        </li>
        <li>
            <div class="form-group form-group-float">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="disabled"> Disable stream
                    </label>
                </div>
            </div>
        </li>
    </ul>
</fieldset>