@import helper._

@base("Distribute Video Encoding System") {
    @form(routes.Application.uploadVideo(), 'enctype -> "multipart/form-data",
        'id -> "video_form", 'class -> "form-inline layer") {
        <div class="video_upload form-group">
            <input id="file_info" type="text" class="file" name="file_info"/>
            <div class="file_upload">
                <input type="file" id="file_upload" name="video" class="form-control" onchange="showFileInfo ( )"/>
            </div>
        </div>
        <div>
            <button id="upload_btn" type="submit" class="progress-button btn" data-style="shrink" data-horizontal>Upload</button>
        </div>

        <script>
            function showFileInfo ( ) {
                $ ( "#file_info" ).val ( $ ( "#file_upload" ).val ( ) )
            }
        </script>
    }
}
