@(vName: String, vPath: String, videoInfo: com.kyrioslab.jffmpegw.attributes.parser.MultimediaInfo)

<form id="video_conf" class="video_conf">

    <input type="text" hidden value="@vName"/>

    @for(stream <- videoInfo.getStreams) {
        @stream.getCodecType match {
            case "video" => {
                @*Video settings block*@
                <fieldset name="stream" class="config_block">
                    <legend>Video stream</legend>
                    <label for="index#@stream.getIndex">Index</label>
                    <input class="input_small" id="index#@stream.getIndex" name="index" type="text" value="@stream.getIndex">
                    <ul>
                        <li>
                            <input hidden name="codec_type" value="@stream.getCodecType">
                            <label for="vcodec">Codec</label>
                            <div>
                                <select id="vcodec" name="codec_name" class="input_small">
                                    <option selected>
                                    @stream.getCodecName
                                    </option>
                                    @for(codec <- videoInfo.getFullSupportedVideoCodecs) {
                                        <option>
                                        @codec.getName
                                        </option>
                                    }
                                </select>
                            </div>
                        </li>
                        <li>
                            <label for="vbitrate">Bit Rate (bit/s)</label>
                            <div>
                                <input value="@stream.getBitRate" type="text" id="vbitrate" class="input_small" name="bit_rate">
                            </div>
                        </li>
                        <li>
                            <label for="vframerate">Frame Rate</label>
                            <div>
                                <input value="@stream.getAvgFrameRate" type="text" id="vframerate" class="input_small" name="avg_frame_rate">
                            </div>
                        </li>
                        <li>
                            <div>
                                <label for="width">Width</label>
                                <input id="width" type="text" name="width" value="@stream.getWidth">
                                <label for="height">Height</label>
                                <input id="height" type="text" name="height" value="@stream.getHeight">
                            </div>
                        </li>
                    </ul>
                </fieldset>
            }

            case "audio" => {
                @*Audio settings block*@
                <fieldset name="stream" class="config_block">
                    <legend>Audio stream</legend>
                    <label for="index#@stream.getIndex">Index</label>
                    <input class="input_small" id="index#@stream.getIndex" name="index" type="text" value="@stream.getIndex">
                    <ul>
                        <li>
                            <input hidden name="codec_type" value="@stream.getCodecType">
                            <label for="acodec">Codec</label>
                            <div>
                                <select id="acodec" name="codec_name" class="input_small">
                                    <option selected>
                                    @stream.getCodecName
                                    </option>
                                    @for(codec <- videoInfo.getFullSupportedAudioCodecs) {
                                        <option>
                                        @codec.getName
                                        </option>
                                    }
                                </select>
                            </div>
                        </li>
                        <li>
                            <label for="abitrate">Bit Rate (bit/s)</label>
                            <div>
                                <input value="@stream.getBitRate" type="text" id="abitrate" class="input_small" name="bit_rate">
                            </div>
                        </li>
                        <li>
                            <label for="sampling_rate">Sampling Rate (sample/s)</label>
                            <div>
                                <input value="@stream.getSampleRate" type="text" id="sampling_rate" class="input_small" name="sample_rate">
                            </div>
                        </li>
                        <li>
                            <label for="channels">Channels</label>
                            <div>
                                <select id="channels" name="channels" class="input_small">
                                    <option selected>@stream.getChannels</option>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                    <option>6</option>
                                    <option>7</option>
                                    <option>8</option>
                                </select>
                            </div>
                        </li>
                    </ul>
                </fieldset>
            }
        }
    }
    <fieldset name="common">
        <label for="oformat">Output format:</label>
        <select id="oformat" name="oformat">
        @for(f <- videoInfo.getFullSupportedFormats) {
            <option>
            @f.getName
            </option>
        }
        </select>
        <input name="vname" hidden value="@vName"/>
    </fieldset>

    <div class="submit_configs">
        <a href="#" class="arrow_button" onclick="sendJobW ( )">Encode</a>
    </div>
</form>



<script src="@routes.Assets.at("javascripts/jobsender.js")" type="application/javascript"></script>

<script type="application/javascript">
    var socket = new WebSocket("@routes.Application.encodeProcessSocket().webSocketURL(false)");
    manageSocket (socket) ;
    function sendJobW ( ) {
        sendJob (socket,"@vPath");
    }
</script>